img {
  width: 100%;
  height: auto;
}

h1 {
  color: #ffffff;
  font-weight: bold;
}

p {
  color: #ffffff;
}

a {
  background-color: #e50914;
  color: #ffffff;
}

a:hover{
    background-color: #e50914;
    color: #ffffff;
border: 2px solid #ffffff;  
}

.padding{
    padding: 1.5rem;
    padding-top: 0px !important;
}
